/////////////////////////
// Generic Site Styles //
/////////////////////////

@import './variables.scss';

body {
  background-color: $background-color;
  font-size: calc(10px + 2vmin);
  color: $text-color;
  margin: 0;
  font-family: $site-font;
  padding: $site-padding;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  @include site-border;
  background: #dedede;
  border-radius: $border-radius;
  color: $text-color;
  display: inline-block;
  font-size: 14px;
  margin: 0 0 15px 0;
  padding: 2px 9px;
  text-decoration: none;
  transition: all 180ms ease-in-out;

  &:focus,
  &:hover {
    box-shadow: 0 1px 2px rgba( 0, 0, 0, .6 );
    outline: none;
    transform: translate( -1px, -1px );
  }

  &:active {
    box-shadow: inset 0 1px 2px rgba( 0, 0, 0, .6 );
    outline: none;
  }
}

code {
  display: block;
  font-size: 12px;
}

/* this class keeps elements accessible while not viewable to most users */
.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}